.a{
    color:white !important; 
  }

.navegacion{
    padding-top:25px;
    padding-bottom:25px;
    background-color: #2C3E50;
  }
  
  
  .link{
    margin-left:5%;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2.5rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
  }
  
  .link-{
    font-size: 1.6rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
  }
  
  .caja-2{
    margin-left: 60%;
  }
  
  .caja-2_{
    text-align: center;
  }

  :hover.pintar{
    background-color: rgb(236, 236, 68);
    transition: 1s;
    border-radius: 10%;
  
  }

  .espacio{
    padding-top: 60px;
  }